@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=DM+Serif+Display:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=DM+Serif+Display:ital@0;1&family=Hanken+Grotesk:ital,wght@0,200;0,300;0,400;0,500;0,600;1,600&display=swap");

* {
  font-family: Be Vietnam Pro, Hanken Grotesk;
}
.main {
  background-color: #f1f1f3;
  width: 100%;
}
section {
  padding: 10px;
}

.body {
  font-family: Be Vietnam Pro;
  width: 100%;
  background-color: #f1f1f3;
}

.header {
  grid-area: header;
  width: 100%;
  height: 50px;
  background: #ff9500;
  border-radius: 8px;
  display: flex;
  justify-content: center;
}

.navBar {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 3rem;
}

.logo {
  display: flex;
}

.buttonlog {
  display: flex;
  margin-left: auto;
}

.menu {
  align-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.menu ul {
  list-style-type: none;
  overflow: hidden;
  display: flex;
  gap: 1rem;
}

.menu li {
  float: left;
}

.menu li:last-child {
  float: inline-end;
}

.menu li a {
  display: flex;
  text-align: center;
  padding: 15px 20px;
  text-decoration: none;
  color: black;
  font-weight: 400;
  font-size: 18px;
}

.menu li a:hover {
  background-color: #ff9500;
  color: white;
}

.button {
  border: none;
  padding: 15px 15px;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  border-radius: 5px;
  background-color: #ffffff;
}

.button:hover {
  background-color: #ff9500;
  color: white;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .navBar {
    width: 100%;
  }

  .menu ul {
    flex-direction: column;
  }
  .header{
    width: 100%;
    height: auto;
    background: #ff9500;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .buttonlog {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
  }
}

.hero {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
  background-color: #f1f1f3;
  justify-content: space-around;
  gap: 100px;
  .title {
    width: 350px;
  }
  .detail {
    width: 850px;
  }
  .buttonPackage {
    display: flex;
    height: fit-content;
    align-items: center;
    justify-content: center;
  }
}

.pricing {
  & .pricingCard {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 90%;
  }
  & .content {
    width: 675px;
    background-color: #fcfcfd;
    margin: auto;
    padding: 10px;
    text-align: center;
  }
  & .price {
    display: flex;
    align-items: center;
    justify-content: center;
    & h2 {
      font-weight: 600;
      font-size: 40px;
    }
  }
  & .freeplan {
    justify-content: center;
    background-color: #FFEACC;
    padding: 5px;
  }
  & .details {
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    & img {
      display: flex;
    }
  }
  & .btnGetStart {
    border: none;
    padding: 10px;
    text-align: center;
    width: 100%;
    border-radius: 5px;
    margin: auto;
    background: #f1f1f3;
  }
  .btnGetStart:hover {
    background-color: #ff9500;
    color: black;
  }
  & p {
    justify-content: center;
  }
  & label {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

.questions {
  display: flex;
  margin: auto;
  margin-top: 2%;
  justify-content: center;

  & .FAQs {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    width: 86%;
    background-color: #ffffff;
    padding: 2%;

    & .FAQcard1 {
      position: relative;
      width: 550px;
      margin: auto;
      & button {
        padding: 1.5rem 2rem;
        font-weight: 600;
        border: none;
      }
    }
    & .FAQcard2 {
      width: 650px;
      margin: auto;

      & .multipleCourseFAQ {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        margin-top: 5%;
        padding: 1%;

        & button {
          border: none;
        }
        & .checkbtn {
          display: flex;
          justify-content: flex-end;
        }
      }
      & .multipleCourseFAQs {
        display: flex;
        justify-content: space-between;
        width: 100%;
        background-color: #f1f1f3;
        margin-top: 5%;
        padding: 1%;
        & button {
          border: none;
        }
      }
    }
  }
}

.footer {
  margin: auto;
  background-color: #ffffff;
  margin-top: 10px;
  padding: 20px;

  & .footContainer {
    display: flex;
    justify-content: space-around;
    margin: auto;
    flex-wrap: wrap;
    align-self: stretch;
  }
  & .contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;

    & a {
      text-decoration: none;
      color: #262626;
      text-align: center;
      display: flex;
      align-items: center;
      gap: 5px;
      row-gap: 5px;
    }
  }
  & .webNav {
    display: flex;
    width: 600px;
    flex-wrap: wrap;
    gap: 5%;

    & .home {
      flex: 1;
      display: grid;

      & a {
        text-decoration: none;
        color: #656567;
      }
    }
    & .aboutUs {
      flex: 1;
      display: grid;
      & a {
        text-decoration: none;
        color: #656567;
      }
    }
    & .socailProfiles {
      flex: 1;
      flex-direction: column;

      & .socaiProfilesLink {
        display: flex;
        align-items: center;
        gap: 10px;
      }
      & a {
        text-decoration: none;
        color: #656567;
      }
    }
  }
}
.copyright {
  text-align: center;
}
